{% extends 'base.html' %}

{% block head %}

{% endblock %}

<!-- <BODY> -->
{% block body %}

<div class="jumbotron rounded-0 jumbotron-fluid mb-0">
    <div class="container text-center jumboAddPost">
        <h1>Veri Ekle</h1>
        <p>Bu sayfadan veri ekleme işlemlerinizi yapabilirsiniz</p>
    </div>
</div>

<form action="/home" method="POST">
    <input type="text" name="name">
    <input type="submit" value="Add Post">
</form>


<div class="container">
    <form>
        <div class="row mb-4">
            <div class="col">
                <div class="form-outline">
                    <input type="text" id="form6Example1" class="form-control" />
                    <label class="form-label" for="form6Example1">Kurulum Saati: </label>
                </div>
            </div>

            <div class="col">
                <div class="form-outline">

                    <input type="text" id="form6Example3" class="form-control" />
                    <label class="form-label" for="form6Example3">İş Birimi: </label>
                </div>
            </div>

            <div class="col">
                <div class="form-outline mb-4">
                    <input type="text" id="form6Example4" class="form-control" />
                    <label class="form-label" for="form6Example4">Sunucu İsmi: </label>
                </div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col">
                <div class="form-outline mb-4">
                    <input type="email" id="form6Example5" class="form-control" />
                    <label class="form-label" for="form6Example5">Sunucu Teknoloji: </label>
                </div>
            </div>

            <div class="col">
                <div class="form-outline mb-4">
                    <input type="number" id="form6Example6" class="form-control" />
                    <label class="form-label" for="form6Example6">Middleware: </label>
                </div>
            </div>

            <div class="col">
                <div class="form-outline mb-4">
                    <input type="number" id="form6Example6" class="form-control" />
                    <label class="form-label" for="form6Example6">Direct DBS: </label>
                </div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col">
                <div class="form-outline mb-4">
                    <input type="email" id="form6Example5" class="form-control" />
                    <label class="form-label" for="form6Example5">DB Tech Client: </label>
                </div>
            </div>

            <div class="col">
                <div class="form-outline mb-4">
                    <input type="number" id="form6Example6" class="form-control" />
                    <label class="form-label" for="form6Example6">Geliştirici: </label>
                </div>
            </div>

            <div class="col">
                <div class="form-outline mb-4">
                    <input type="number" id="form6Example6" class="form-control" />
                    <label class="form-label" for="form6Example6">Bağlı Olduğu Takım: </label>
                </div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col">
                <div class="form-outline mb-4">
                    <input type="email" id="form6Example5" class="form-control" />
                    <label class="form-label" for="form6Example5">Takım Direktörü: </label>
                </div>
            </div>

            <div class="col">
                <div class="form-outline mb-4">
                    <input type="number" id="form6Example6" class="form-control" />
                    <label class="form-label" for="form6Example6">Teknoloji: </label>
                </div>
            </div>

            <div class="col">
                <div class="form-outline mb-4">
                    <input type="number" id="form6Example6" class="form-control" />
                    <label class="form-label" for="form6Example6">Repository: </label>
                </div>
            </div>
        </div>





        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4">Kaydet</button>
    </form>

</div>



<!-- </BODY> -->
{% endblock %}