{% extends 'base.html' %}

{% block head %}

{% endblock %}

<!-- <BODY> -->
{% block body %}

<div class="jumbotron rounded-0 jumbotron-fluid mb-0">
    <div class="container text-center jumboAddPost">
        <h1>Add Post Page</h1>
        <p>Add New Metadata</p>
    </div>
</div>

<div class="container-fluid table-responsive px-0">

    <table class="table table-dark table-hover table-striped">
        <thead>
            <tr>
                <th>ID </th>
                <th>Key1</th>
            </tr>
        </thead>

        <tbody>
            {% for post in posts %}
            <tr>
                <th scope="row">{{ post._id }}</th>
                <td>{{ post.json_body }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <form action="/home" method="POST">
        <input type="text" name="name">
        <input type="submit" value="Add Post">
    </form>

</div>
<!-- </BODY> -->
{% endblock %}